<h1>First of all let's start with analyzing dataset.</h1>

In [ ]:
import pandas as pd
import numpy as np
import os
from ydata_profiling import ProfileReport

bus_stops_data = pd.read_excel('FLEXI_bus_stops.xls')
trip_data = pd.read_excel('FLEXI_trip_data.xls')

In [ ]:
report_file = 'bus_stops_data.html'

if not os.path.exists(report_file):
    profile = ProfileReport(bus_stops_data, title = 'FLEXI Bus Stops - Report')

    profile.to_file('bus_stops_data_report_1.html')
    profile.dump('bus_stops_data_report_1')

profile = ProfileReport().load('bus_stops_data_report_1.pp')
profile.to_notebook_iframe()

In [ ]:
report_file = 'trip_data.html'

if not os.path.exists(report_file):
    profile = ProfileReport(trip_data, title = 'FLEXI Trips - Report')

    profile.to_file('trip_data_report_1.html')
    profile.dump('trip_data_report_1')

profile = ProfileReport().load('trip_data_report_1.pp')
profile.to_notebook_iframe()

***As we can see here there are multiple types of objects so first of all we need to encode them to numerical values in order to work on them easily.***

In [ ]:
bus_stops_data.info()

bus_stops_data.head()

***The reason to drop district is that information is given under the 'name' column.***

In [ ]:
from sklearn.preprocessing import OneHotEncoder

bus_stops_data_encoded = bus_stops_data.copy()

bus_stops_data_encoded.drop("district", inplace=True, axis=1)


encoder = OneHotEncoder()

encoded_name = encoder.fit_transform(bus_stops_data_encoded[['name']])

encoded_name_df = pd.DataFrame(encoded_name.toarray(), columns=encoder.get_feature_names_out(['name']))

bus_stops_data_encoded = pd.concat([bus_stops_data_encoded.drop('name', axis=1), encoded_name_df], axis=1)

bus_stops_data_encoded.info()

In [ ]:
trip_data_encoded = trip_data.copy()

trip_data_encoded.info()

trip_data_encoded['is_trip_completed'] = trip_data_encoded['Passenger status'].map({"Trip completed": 1, "Cancelled": 0})

trip_data_encoded.drop('Passenger status', inplace=True, axis=1)

trip_data_encoded.info()

trip_data_encoded.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838 entries, 0 to 3837
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Booking ID           3838 non-null   int64
 1   Status               3838 non-null   object
 2   Passenger status     3838 non-null   object
 3   Passengers           3838 non-null   int64
 4   Pickup ID            3838 non-null   int64
 5   Dropoff ID           3838 non-null   int64
 6   Actual Pickup Time   3838 non-null   datetime64[ns]
 7   Actual Dropoff Time  3838 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 240.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838 entries, 0 to 3837
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Booking ID           3838 non-null   int64
 1   Status               3838 non-null   object
 2   Passengers           3838 non-null   int64
 3   Pickup ID            3838 non-null   int64
 4   Dropoff ID           3838 non-null   int64
 5   Actual Pickup Time   3838 non-null   datetime64[ns]
 6   Actual Dropoff Time  3838 non-null   datetime64[ns]
 7   is_trip_completed    3838 non-null   int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 240.0+ KB

,Booking ID,Status,Passengers,Pickup ID,Dropoff ID,Actual Pickup Time,Actual Dropoff Time,is_trip_completed
0,252392,Validated,2,55,70,2024-09-01 08:01:00,2024-09-01 08:17:00,1
1,253212,Cancelled by client,1,40,0,2024-09-01 08:18:00,2024-09-01 08:34:00,0
2,253369,Cancelled by client,3,66,0,2024-09-01 08:46:00,2024-09-01 09:09:00,0
3,253808,Cancelled by driver,2,30,0,2024-09-01 08:56:00,2024-09-01 09:09:00,0
4,253782,Validated,2,40,21,2024-09-01 09:14:00,2024-09-01 09:25:00,1

In [ ]:
encoder = OneHotEncoder()

encoded_status = encoder.fit_transform(trip_data_encoded[['Status']])

encoded_name_df = pd.DataFrame(encoded_status.toarray(), columns=encoder.get_feature_names_out(['Status']))

trip_data_encoded = pd.concat([trip_data_encoded.drop('Status', axis=1), encoded_name_df], axis=1)

trip_data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838 entries, 0 to 3837
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Booking ID                       3838 non-null   int64
 1   Passengers                       3838 non-null   int64
 2   Pickup ID                        3838 non-null   int64
 3   Dropoff ID                       3838 non-null   int64
 4   Actual Pickup Time               3838 non-null   datetime64[ns]
 5   Actual Dropoff Time              3838 non-null   datetime64[ns]
 6   is_trip_completed                3838 non-null   int64
 7   Status_Cancelled by call center  3838 non-null   float64
 8   Status_Cancelled by client       3838 non-null   float64
 9   Status_Cancelled by driver       3838 non-null   float64
 10  Status_Changed by admin          3838 non-null   float64
 11  Status_Changed by client         3838 non-null   float64
 12  Status_Validated                 3838 non-null   float64
dtypes: datetime64[ns](2), float64(6), int64(5)
memory usage: 389.9 KB